/* Color Pallete 
#c7522a
#e5c185
#fbf2c4
#74a892
#008585
*/

@font-face {
  font-family: "Playwrite";
  src:
    local("Playwrite"),
    url("../fonts/PlaywriteAUQLD-Regular.woff2") format("woff2");
}

* {
  margin: 0px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.logo {
  display: flex;
  height: 100%;
  width: 30vw;
  background-image: url("../img/background.png");
  background-size: 100% 100%;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #74a892aa;
  height: 200px;
  width: 100%;
}

.mainbody {
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background: linear-gradient(#74a892, #fbf2c4);
}

.headings {
  height: 30px;
  margin: 0px 50px;
}

h1 {
  margin: 5px;
  padding: 5px;
  color: antiquewhite;
  font-family: "Playwrite", sans-serif;
  font-weight: bolder;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  height: 500px;
  width: 500px;
  background: linear-gradient(#e5c185, #fbf2c4);
  border-radius: 20%;
  padding: 15px;
  border: 1px solid #74a892;
}

.user,
.contact,
.password,
.signupbutton {
  display: flex;
}

.user {
  margin-top: 35px;
}

.signin {
  display: flex;
  justify-content: center;
}

label,
input {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  padding: 5px;
  outline: none;
}

label {
  text-align: center;
  color: #008585;
  font-weight: bolder;
}

input {
  border-radius: 5%;
  border-style: none;
}

input:valid {
  border: 2px solid #008585;
}

input:invalid {
  border: 2px solid #c7522a;
}

input:focus {
  box-shadow: 2px 2px 2px #008585;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 25px;
  color: #fbf2c4;
  font-family: "Playwrite", sans-serif;
  font-size: 1.4rem;
}

.headings p {
  text-align: center;
  color: wheat;
  font-family: "Playwrite", sans-serif;
  font-size: 1.2rem;
}

.signin p {
  text-align: center;
  color: grey;
}

.signupbutton {
  margin: 15px auto 35px auto;
  background-color: #74a892;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 2%;
  border-style: none;
  width: 40%;
}

.signupbutton:hover {
  background-color: #008585;
}
.signupbutton:active {
  background-color: darkcyan;
}
